<template>
  <div class="VueToNuxtLogo">
    <img src="~/assets/images/babayaga.jpg" />
  </div>
</template>

<style lang="scss">
.VueToNuxtLogo {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 33vh;
  width: 80vw;
  img {
    height: 110%;
  }
}
</style>
