<template>
  <nav>
    <ul>
      <li>
        <nuxt-link :class="$route.path == '/' ? 'active' : ''" to="/">
          Home
        </nuxt-link>
      </li>
      <li>
        <nuxt-link
          :class="$route.path == '/schedule' ? 'active' : ''"
          to="/schedule"
        >
          Schedule
        </nuxt-link>
      </li>
      <li>
        <nuxt-link
          :class="$route.path.indexOf('/crats') == 0 ? 'active' : ''"
          to="/crats"
        >
          Crat Team
        </nuxt-link>
      </li>
      <li>
        <a href="https://gvevents.xyz/#/event/PhDDmYAjSgwaLnerX/volunteer">
          Volunteer
        </a>
      </li>
      <li>
        <a href="https://gvevents.xyz/#/event/PhDDmYAjSgwaLnerX">
          Register
        </a>
      </li>
    </ul>
  </nav>
</template>
<style lang="scss">
@import '../assets/settings.scss';
nav {
  width: 100%;
  min-height: 1.25em;
  border-bottom: 3px solid $color-primary-darker;
  margin-bottom: 2em;
  padding: 0.5em;
  grid-column: 1 / span 3;
  background: $color-primary-lighter;
}

nav a {
  color: $color-primary-darkest;
  padding: 1em 1em;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  color: rgb(23, 26, 39);
  padding: 1em 1em;
  text-decoration: underline;
}

nav a.active {
  color: #111;
  padding: 1em 1em;
  font-weight: 900;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: inline;
}

nav > ul > li {
  display: inline;
}
</style>
