<template>
  <div id="volunteer" class="form">
    <form>
      <div class="form-field">
        <label>Quest <input v-model="message.area.npc.on" type="checkbox"></label>
        <div class="">
          <label>On</label>
          <select v-model="message.area.npc.days" multiple="multiple">
            <option v-for="day in days.npc" :key="day" :value="day">
              {{ day }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-field">
        <label>Reeve <input v-model="message.area.reeve.on" type="checkbox"></label>
        <div class="">
          <label>On</label>
          <select v-model="message.area.reeve.days" multiple="multiple">
            <option v-for="day in days.reeve" :key="day" :value="day">
              {{ day }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-field">
        <label>Kitchen <input v-model="message.area.kitchen.on" type="checkbox"></label>
        <div class="">
          <label>On</label>
          <select v-model="message.area.kitchen.days" multiple="multiple">
            <option v-for="day in days.kitchen" :key="day" :value="day">
              {{ day }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-field">
        <label>Security <input v-model="message.area.security.on" type="checkbox"></label>
        <div class="">
          <label>On</label>
          <select v-model="message.area.security.days" multiple="multiple">
            <option v-for="day in days.security" :key="day" :value="day">
              {{ day }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-field">
        <label>Clean-up <input v-model="message.area.clean.on" type="checkbox"></label>
        <div class="">
          <label>On</label>
          <select v-model="message.area.clean.days" multiple="multiple">
            <option v-for="day in days.clean" :key="day" :value="day">
              {{ day }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-field">
        <label>Name</label>
        <input v-model="message.name" type="text">
      </div>
      <div class="form-field">
        <label>Phone</label>
        <input v-model="message.phone" type="tel">
      </div>
      <div class="form-field">
        <label>Email</label>
        <input v-model="message.email" type="email">
      </div>
      <div class="form-field">
        <label>Comments</label>
        <textarea v-model="message.comments" />
      </div>
      <div>
        <button type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      message: {
        area: {
          npc: {
            on: false,
            days: []
          },
          reeve: {
            on: false,
            days: []
          },
          kitchen: {
            on: false,
            days: []
          },
          security: {
            on: false,
            days: []
          },
          clean: {
            on: false,
            days: []
          }
        }
      },
      days: {
        npc: ['Friday', 'Saturday', 'Sunday'],
        reeve: ['Friday', 'Saturday', 'Sunday'],
        kitchen: ['Friday', 'Saturday', 'Sunday', 'Monday (clean)'],
        security: ['TBA'],
        clean: ['Friday', 'Saturday', 'Sunday', 'Monday']
      }
    }
  },
  computed: {},
  methods: {
    sendMessage() {
      //do the thing
      console.log(this.message)
    }
  }
}
</script>
<style scoped="scoped">
label {
  font-weight: 600;
  display: block;
}
input,
textarea,
select {
  border-radius: 7px;
  min-height: 3em;
  width: 80%;
  border: 1px solid #ddd;
}
textarea {
  min-height: 6em;
}
input[type='checkbox'] {
  width: 1em;
}
.form {
  width: 80vw;
}
.form-field {
  min-height: 6em;
  padding: 1em;
}
button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ddd;
  box-shadow: 2px 2px #ccc;
}
</style>
