<template>
  <article v-if="event">
    <h2>{{ event.title }}</h2>
    <p>
      <span>From {{ renderDate(event.start) }} To {{ renderDate(event.end) }}</span>
    </p>
    <section class="well" v-html="event.details" />
  </article>
</template>

<script>
import Collection from 'lodash/collection'
import moment from 'moment'
export default {
  computed: {
    event() {
      return Collection.find(this.$store.state.schedule.events, {
        key: this.$route.params.item
      })
    }
  },
  methods: {
    renderDate(dateString) {
      return moment(dateString).format('dddd a\t h:mm a')
    },
    renderTime(dateString) {
      return moment(dateString).format('h:mm a')
    }
  }
}
</script>

<style lang="scss">
@import '~/assets/settings.scss';

.well {
  border: thin solid $color-primary-darker;
  background-color: $color-primary-lightest;
  padding: 1rem;
  border-radius: 15px;
}
</style>
