<template>
  <div id="event_schedule">
    <div v-for="(types, date) in schedule" :key="date" class="schedule">
      <h1>{{ renderDate(date) }}</h1>
      <div class="schedule_day">
        <div v-for="(events, type) in types" :key="type" class="schedule_column">
          <h2>{{ type }}</h2>
          <div v-for="row in events" :key="row.key" :class="row.type" class="schedule_row">
            <h3>
              <nuxt-link :to="'/schedule/' + row.key">{{ row.title }}</nuxt-link>
            </h3>
            <ul>
              <li>
                <small><em>Start</em> {{ renderTime(row.start) }}</small>
                <small v-if="row.end"><em>End</em> {{ renderTime(row.end) }}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'

export default {
  filters: {
    date(value) {
      return moment(value).format('dddd, MMMM Do YYYY')
    },
    time(value) {
      return moment(value).format('h:mm a')
    }
  },
  computed: {
    schedule() {
      let days = {}
      this.$store.state.schedule.events.forEach(event => {
        if (undefined === days[event.date]) {
          days[event.date] = {}
        }
        if (undefined === days[event.date][event.type]) {
          days[event.date][event.type] = []
        }
        days[event.date][event.type].push(event)
      })
      return days
    }
  },
  methods: {
    renderDate(dateString) {
      return moment(dateString).format('dddd, MMMM Do YYYY')
    },
    renderTime(dateString) {
      return moment(dateString).format('h:mm a')
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~/assets/settings.scss';
#event_schedule {
  margin-bottom: 3em;
}
#event_schedule p {
  margin: 1em;
}
.schedule_day {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  margin-bottom: 3em;
  h2 {
    font-size: 16pt;
    font-weight: 700;
    color: $color-primary-darkest;
  }
}
.schedule_row {
  border: thin $color-primary-darker solid;
  background-color: $color-primary-lightest;
  border-radius: 7px;
  margin: 5px;
  border-collapse: collapse;
  font-weight: 300;
  padding: 5px;

  h3 {
    font-size: 12pt;
    font-weight: 600;
    color: $color-primary-darkest;
  }

  ul {
    list-style: none;
  }

  em {
    font-weight: 600;
  }
}
</style>
