<template>
  <div>
    <div v-for="crat in active" :key="crat.persona" class="position">
      <div class="avatar">
        <img :src="crat.img" />
      </div>
      <div class="details">
        <h2>{{ crat.persona }}</h2>
        <h3>{{ crat.role }}</h3>
        <div v-html="crat.description" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    crats() {
      return this.$store.state.crats.crats
    },
    active() {
      let crats = []
      let param = this.$route.params.position
      for (let i in this.crats) {
        let role = this.crats[i].role.toLowerCase().replace(' ', '_')
        if (role == param) {
          crats.push(this.crats[i])
        }
      }
      return crats
    }
  }
}
</script>

<style>
p {
  padding: 0.5em;
}
.position {
  display: grid;
  grid-template-columns: 33% auto;
  margin-bottom: 2em;
}
.avatar {
  grid-column: 1;
  width: 90%;
}
.avatar > img {
  width: 100%;
  border-radius: 10px;
}
.details {
  grid-column: 2;
}
</style>
