<template>
  <div class="roledex">
    <div v-for="crat in crats" :key="crat.persona" class="vcard" @click="forward(crat.page)">
      <div class="vcard-data">
        <div>
          <h3>{{ crat.persona }}</h3>
          <h4>{{ crat.role }}</h4>
          <a :href="crat.page">
          </a>
        </div>
        <div v-if="crat.img" :style="'background: url(' + crat.img + ')'" class="id" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    crats() {
      return this.$store.state.crats.crats
    }
  },
  methods: {
    forward(url) {
      this.$router.push(url)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~/assets/settings.scss';
.roledex {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-gap: 1em;
}
.vcard {
  min-height: 75px;
  width: 98%;
  border: thin solid $color-primary-darker;
  margin: 5px;
  padding: 1em;
  border-radius: 5px;
  background-color: $color-primary-lightest;
  div.vcard-data {
    display: inline-grid;
    grid-template-columns: 15vw 15vw;
    grid-column-gap: 5px;
  }
  a {
    color: #2b3826;
    text-decoration: none;
  }
  h4 {
    font-weight: 400;
    font-size: 16px;
    color: $color-primary-darkest;
  }
  h3 {
    font-weight: 500;
    font-size: 20pt;
    color: $color-primary-darkest;
  }
  .id {
    border-radius: 10px;
    border: thin solid #d9e6d6;
    width: 100px;
    height: 100px;
    background-position: -70px -50px !important;
    background-size: 225px !important;
    background-repeat: no-repeat !important;
  }
}
</style>
