
$color-body: #f6f7ff;
$color-primary: hsl(244, 6%, 49%);
$color-primary-darker:#333438;
$color-primary-darkest:#01042e;
$color-primary-lighter:#9c9ca7;
$color-primary-lightest:#a5a2cc5d;
$primary-font: #262738;