<template>
  <div class="grid">
    <Nav />
    <div id="content_container">
      <nuxt />
    </div>
    <footer>
      <div class="column1">
        <a href="https://gvevents.xyz/#/event/2HWy5KZrCLSfn62zM">Register</a>
        <a href="https://amtgard.com">Amtgard</a>
      </div>
      <div class="column2">
        <a href="https://www.facebook.com/kingdomofgoldenvale/">The Kingdom of Goldenvale</a>
        <a href="https://www.facebook.com/events/280243652687842/">Facebook Event Page</a>
      </div>
      <div class="column3">
        <a href="http://yeoldecommons.com/">Ye Olde Commons</a>
        <a href="https://etherealvisions.us/">Site by Shawn Barratt</a>
      </div>
    </footer>
  </div>
</template>

<script>
import Nav from '@/components/Nav'
export default {
  components: {
    Nav
  }
}
</script>
<style lang="scss">
@import '../assets/settings.scss';
body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: $color-body;
}

.grid {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 5% auto 5%;
}

footer {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background: $color-primary;
  min-height: 100px;
  color: #eff5ed;
}
footer > div {
  place-self: center;
  padding-top: 1.5em;
}
footer a {
  color: #eff5ed;
  text-decoration: none;
  margin-left: 0.5em;
  font-size: 14px;
  display: block;
}

#content_container {
  grid-column: 2;
  place-self: center;
  min-height: 85vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 75px;
  color: #2b3826;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #2b3826;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.small {
  font-weight: 100;
  font-size: 30px;
  color: #2b3826;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.intro {
  width: 60%;
  margin-right: 20%;
  margin-left: auto;
  background: $color-primary-lighter;
  border-radius: 10px;
  border: solid $color-primary-darker;
  margin: 0.5em auto;
}
.intro > p {
  padding: 0.5em;
}
</style>
