<template>
  <section class="container">
    <div>
      <h1 class="title">
        Fury of the Northlands 2020
      </h1>
      <h2 class="subtitle">
        Tales of Veles
      </h2>
      <AppLogo />
      <div class="intro">
        <p>With great pride our team would like to welcome you to Fury of the Northlands 2020, “Tales of Veles”! Explore a land of Eastern-European folklore, battle or befriend mythical creatures, and test your abilities in assorted games and our second annual non-Men’s Valkyrie Fighting Tourney. We look forward to delivering an excellent event for you all!</p>
      </div>
      <h2 class="small">
        Friday, September 4, 2020 Till Monday, September 7, 2020
      </h2>
      <h2 class="small">
        Tolgy Wood: Chesterfield Camp 22 Sugar Hill Road Williamsburg, MA 01096
      </h2>
    </div>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo'
export default {
  components: {
    AppLogo
  }
}
</script>

<style>
</style>
